# List of files to ignore during commit.

#      /build directory
#      .gradle cache directory
#      *.*~ <-- Ignore everything else below.
#      *.*~ <-- Top level ignore.
#      .idea <-- Intellij created file.  Probably don't want that commited.
#      *.log <-- Ignore the log errors created by windows.

build/*

.gradle/*

*/*.*~

*.*~

*.idea

*.log